---
layout: page
title: Contact
permalink: /contact/
order: 4
---

<div class="home">
	<div class="wrapper">

		<p>Adresse email principal de contact :</p>

		<a href="mailto:{{ site.email }}">
			<i class="fa fa-envelope-o"></i>
			<span class="username">{{ site.email }}</span>
		</a>
		<br> <br>
	</div>

	{% include page_divider.html %}

	<div class="wrapper">
		<table cellspacing="0" cellpadding="0">
			<tr>
				<th><h1>Le bureau</h1></th>
				<th></th>
				<th></th>
			</tr>
			<tr>
				<td><strong>Président</strong></td>
				<td>Didier ROUX</td>
				<td>06.51.96.09.36<br>
					didierroux@aliceadsl.fr
					<br>
				</td>
			</tr>
			<tr>
				<td><strong>Trésorier</strong></td>
				<td>Philippe ROUX</td>
				<td><br>
					philippe.roux1@orange.fr
				</td>
			</tr>
			<tr>
				<td><strong>Secrétaire</strong></td>
				<td>Nicolas AMOUROUX</td>
				<td></td>
			</tr>
		</table>
		<br>
	</div>

	{% include page_divider.html %}

	<div class="wrapper">
		<h1>Nos Sponsors</h1>

		<table cellspacing="0" cellpadding="0">
			<tr>
				<td><img src="{{ site.baseurl | site.github.url }}/assets/sponsors/saint-aunes.png"></td>
				<td><b>Mairie de St Aunes</b><br>
					Place de la Mairie<br>
					34130 Saint-Aunès<br>
					04 67 87 48 48
				</td>
			</tr>
			<tr>
				<td><img src="{{ site.baseurl | site.github.url }}/assets/sponsors/engie.jpg"></td>
				<td><b>Engie Home Service</b><br>
					expert en dépannage et remplacement<br>
					d'appareils de chauffage
				</td>
			</tr>
			<tr>
				<td><img src="{{ site.baseurl | site.github.url }}/assets/sponsors/vision-plus.jpg"></td>
				<td><b>Vision Plus Mauguio - Mitterand</b><br>
					Opticien MAUGUIO<br>
					69 GD RUE F.MITTERRAND<br>
					34130 Mauguio<br>
					04 67 29 24 93
				</td>
			</tr>
			<tr>
				<td><img src="{{ site.baseurl | site.github.url }}/assets/sponsors/allianz.jpg"></td>
				<td><b>Allianz Assurance Xavier Ferrand Maugio</b><br>
					8 Place Jules Ferry<br>
					34130 Mauguio<br>
					04 67 29 82 15
				</td>
			</tr>
		</table>
	</div>

</div>
