---
layout: page
title: Contact
permalink: /contact/
---

<div class="home">
	<div class="wrapper">
		<h1>Nous contacter </h1>

		<p>Adresse email principal de contact :</p>

		<a href="mailto:{{ site.email }}">
			<i class="fa fa-envelope-o"></i>
			<span class="username">{{ site.email }}</span>
		</a>
		<br> <br>
	</div>

	{% include page_divider.html %}

	<div class="wrapper">
		<table cellspacing="0" cellpadding="0">
			<tr>
				<th><h1>Le bureau</h1></th>
				<th></th>
				<th></th>
			</tr>
			<tr>
				<td><strong>Président</strong></td>
				<td>Jérome WYSZYNSKI</td>
				<td><br>
					familyski@orange.fr
				</td>
			</tr>
			<tr>
				<td><strong>Trésorier</strong></td>
				<td>Philippe ROUX</td>
				<td><br>
					philippe.roux1@orange.fr
				</td>
			</tr>
			<tr>
				<td><strong>Secrétaire</strong></td>
				<td>Nicolas BRUNEL</td>
				<td>06.83.18.66.22<br>
					brunelnicolas0021@orange.fr
				</td>
			</tr>
			<tr>
				<td><strong>Contact Aubaisienne</strong></td>
				<td>François ABRASSARD</td>
				<td>06.29.44.60.63<br>
					f.abrassart@orange.fr
				</td>
			</tr>
		</table>
		<br>
	</div>

	{% include page_divider.html %}

	<div class="wrapper">
		<h1>Nos Sponsors</h1>

		<table cellspacing="0" cellpadding="0">
			<tr>
				<td><img src="{{ site.baseurl | site.github.url }}/assets/sponsors/saint-aunes.png"></td>
				<td><b>Mairie de St Aunes</b><br>
					Place de la Mairie, 34130 Saint-Aunès<br>
					04 67 87 48 48
				</td>
			</tr>
			<tr>
				<td><img src="{{ site.baseurl | site.github.url }}/assets/sponsors/controle-du-pic.png"></td>
				<td><b>Contrôle technique du Pic</b><br>
					26 Rue des Olivettes<br>
					34270 Ste Croix De Quintillargues<br>
					04 99 62 04 40
				</td>
			</tr>
			<tr>
				<td><img src="{{ site.baseurl | site.github.url }}/assets/sponsors/servero.png"></td>
				<td><b>Servero</b><br>
					Magasin de pièces détachées pour appareils électroménagers<br>
					Zac de Saint Antoine, 175 Rue de la Garriguette<br>
					34130 Saint-Aunès<br>
					04 67 79 85 50
				</td>
			</tr>
			<tr>
				<td><img src="{{ site.baseurl | site.github.url }}/assets/sponsors/ferre-antenne-parabole.jpg"></td>
				<td><b>Ferré Antenne Parabole</b><br>
					100 place du Mas d'Azil<br>
					34070 Montpellier<br>
					contact.ferre@orange.fr<br>
					06.78.18.45.05 - 04.67.47.66.05
				</td>
			</tr>
			<tr>
				<td><img src="{{ site.baseurl | site.github.url }}/assets/sponsors/leroy-merlin.jpg"></td>
				<td><b>Leroy Merlin Saint-Aunès</b><br>
					Avenue De La Saladelle, Ecoparc Départemental Saint-Aunès<br>
					34130 Saint Aunes<br>
					04.67.40.95.00
				</td>
			</tr>
			<tr>
				<td><img src="{{ site.baseurl | site.github.url }}/assets/sponsors/vision-plus.jpg"></td>
				<td><b>Vision Plus</b></td>
			</tr>
		</table>
	</div>

</div>
