---
layout: page
title: Contact
permalink: /contact/
order: 4
---

<div class="home">
	<div class="wrapper">

		<p>Adresse email principal de contact :</p>

		<a href="mailto:{{ site.email }}">
			<i class="fa fa-envelope-o"></i>
			<span class="username">{{ site.email }}</span>
		</a>
		<br> <br>
	</div>

	{% include page_divider.html %}

	<div class="wrapper">
		<table cellspacing="0" cellpadding="0">
			<tr>
				<th><h1>Le bureau</h1></th>
				<th></th>
				<th></th>
			</tr>
			<tr>
				<td><strong>Président</strong></td>
				<td>Didier ROUX</td>
				<td>06.51.96.09.36<br>
					didierroux@aliceadsl.fr
					<br>
				</td>
			</tr>
			<tr>
				<td><strong>Trésorier</strong></td>
				<td>Philippe ROUX</td>
				<td><br>
					philippe.roux1@orange.fr
				</td>
			</tr>
			<tr>
				<td><strong>Secrétaire</strong></td>
				<td>William ROUSSILLE</td>
				<td></td>
			</tr>
		</table>
		<br>
	</div>

	{% include page_divider.html %}

	<div class="wrapper">
		<h1>Nos Sponsors</h1>

		<table cellspacing="0" cellpadding="0">
			<tr>
				<td><img src="{{ site.baseurl | site.github.url }}/assets/sponsors/saint-aunes.png"></td>
				<td><b>Mairie de St Aunes</b><br>
					Place de la Mairie, 34130 Saint-Aunès<br>
					04 67 87 48 48
				</td>
			</tr>
			<tr>
				<td><img src="{{ site.baseurl | site.github.url }}/assets/sponsors/servero.png"></td>
				<td><b>Servero</b><br>
					Magasin de pièces détachées pour appareils électroménagers<br>
					Zac de Saint Antoine, 175 Rue de la Garriguette<br>
					34130 Saint-Aunès<br>
					04 67 79 85 50
				</td>
			</tr>
			<tr>
				<td><img src="{{ site.baseurl | site.github.url }}/assets/sponsors/engie.png"></td>
				<td><b>Engie</b>
				</td>
			</tr>
			<tr>
				<td><img src="{{ site.baseurl | site.github.url }}/assets/sponsors/vision-plus.jpg"></td>
				<td><b>Vision Plus</b></td>
			</tr>
		</table>
	</div>

</div>
